# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 환경 변수 보안 파일 제외
.env
.env.local
.env.*
.vercel

# 원본 공공데이터 파일 깃허브 업로드 차단 (용량 최적화)
전국*.json
